<br>
<br>
<br>
<br>
<br>
<br>
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet"> 
<% if user_signed_in? then%>
  <div class="jumbotron">
    <h1>Checks Your team Events</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Create a Event!", new_evento_path, class: "btn btn-primary btn-lg" %></p>
</div>

<% end %>



<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "eventos", :media => "all" %>
      <p align="center">
  <% if user_signed_in?  then %>

      <% @eventos.each do |evento| %>
      <tr>
<div class="col-md-2">      
<div align="center">
<div id="containter">
<i class="fas fa-list-alt  fa-3x" style="color: black;"></i>
<p style="margin-top: 20px;">
 <%= link_to evento, method: :delete, data: { confirm: 'Are you sure?' } do  %>
<i class="fas fa-trash fa-1x" style="color: black;"></i>
 <% end %>
 </p>
<p style="color: black; font-size: 15px; font-family: 'Alfa Slab One', cursive; border-radius: 2px; width: 100px; border: solid black 1px; background-color: white;">
<%= link_to "#{evento.name}" , evento %>
</p>
  
<p style="color: white; background: black; border-radius: 2px;">
      <td><% evento.start_time %></td>
 </p>
    <tbody>
        <% link_to 'Show', evento, class: "btn btn-primary" %> 
       <!-- <%= link_to 'New Evento', new_evento_path, class: "btn btn-default" %> -->
        <!--<td><%= link_to 'Edit', edit_evento_path(evento), class: "btn btn-default" %></td>-->
       </td>
      
      </tr>
</div> 
</div>
</div>
  </tbody>
 <% end %>
<% end %>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<div class="digg_pagination" align="center" style="margin-top: 150px;">
    <div class="page_info">
      <%= page_entries_info @eventos_paginação %>
    </div>
        <%= will_paginate @eventos_paginação  %>


