<br>
<br>
<br>
<br>
<br>
<br>
<% if user_signed_in? then%>
  <div class="jumbotron">
    <h1>Checks Your team Events</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Chat whit us here !", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>

<% end %>



<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "eventos", :media => "all" %>
      <p align="center">
  <% if user_signed_in?  then %>

      <% @eventos.each do |evento| %>
      <tr>
<div align="center">
<div id="containter">
<i class="glyphicon glyphicon-list-alt"></i>
<!---<p style="background-color: black;">         <%= @evento.user.email %> </p>-->
<p style="color: white; background: green; border-radius: 2px;">
<td><%= evento.name %></td>
</p>

<p style="color: white; background: green; border-radius: 2px;">
      <td><%= evento.start_time %></td>
 </p>
    <tbody>
        <%= link_to 'Show', evento, class: "btn btn-primary" %> 
       <!-- <%= link_to 'New Evento', new_evento_path, class: "btn btn-default" %> -->
        <!--<td><%= link_to 'Edit', edit_evento_path(evento), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>-->
      
      </tr>
</div> 
</div>
  </tbody>
 <% end %>
<% end %>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<div class="digg_pagination" align="center" style="margin-top: 150px;">
    <div class="page_info">
      <%= page_entries_info @eventos_paginação %>
    </div>
        <%= will_paginate @eventos_paginação  %>


