<br>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p id="notice"><%= notice %></p>
 <div class="field"  style="color: black; border-radius: 4px; background-color: white; width: 900px;   position:absolute;  top:50%; left:15%; margin-left: -5px; border: solid black 2px; margin-top:-200px; box-shadow: 4px 9px; " align="center">
<p>
  <strong style="font-size: 25px;">Event</strong><br>
  <%= @evento.name %>
</p>

<p>
  <strong style="font-size: 25px;">Deadline:</strong><br>		
  <%= @evento.start_time %>
</p>

<div id="item_event_wrapper">
<%= render @evento.item_event %>
<div id="form">
<%= render "item_events/form" %>
</div>
</div>

<%= link_to edit_evento_path(@evento) do  %>
 <i class="fas fa-edit fa-2x" style="color: black;"></i> 
<% end %>

<%= link_to eventos_path do %>
<i class="fas fa-undo-alt fa-2x" style="color: black; margin-left: 700px; "></i>
<% end %>
</div>