<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @evento.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @evento.start_time %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
