<br>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p id="notice"><%= notice %></p>
 <div class="field"  style="color: black; border-radius: 4px; background-color: white; width: 900px;   position:absolute;  top:50%; left:15%; margin-left: -5px; border: solid black 2px; margin-top:-200px; box-shadow: 4px 9px; " align="center">
<p>
  <strong>Name:</strong>
  <%= @evento.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @evento.start_time %>
</p>

<div id="item_event_wrapper">
<%= render @evento.item_event %>
<div id="form">
<%= render "item_events/form" %>
</div>
</div>

<%= link_to 'Edit', edit_evento_path(@evento), class: "btn btn-sm btn-primary" %> |
<%= link_to 'Back', eventos_path , class: "btn-sm btn btn-danger"%>
<%= link_to  @evento, method: :delete, data: { confirm: 'Are you sure?' } do %>
<i class="fa fa-trash-o" aria-hidden="true"></i>
<% end %>
</div>