	<% flash.each do  |key, value |%>
		<div class='alert alert-<%= key %>'>
		<%= value  %>	
		</div>
		<% end %>
<%= form_tag(:controller => "twitterposts", :action => "create", :remote => true ) do %>

  <%= label_tag(:message, "What are you doing?") %><br />
  <%= text_area_tag(:message, nil, :size => "84x6") %><br /> 
  <br>
  <%= submit_tag("Update", :class => "btn btn-primary" ) %>
<% end %>