<br>
<br>
<br>  
<br>
<!DOCTYPE html>
<html lang="en">
<p id="notice"><%= notice %></p>
<head>
</head>
<body>
<%= stylesheet_link_tag "lamport_notes", :media => "all" %>
<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet"> 

<br>
<br>

  <div class="jumbotron">
    <h1>Checks Your team Notes</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Create a Note !", new_lamport_note_path, class: "btn btn-success btn-lg" %></p>
</div>
<% if user_signed_in? %>
<% @lamport_notes.each do |lamport_note| %>
<p align="left">
<div class="col-md-4">
<div id="alinhamento">
   <div id="margem" align="center">
     <p style=" font-size: 27px; font-family: 'Alfa Slab One'; border-radius: 2px; word-wrap: break-word;">
     <%= lamport_note.titulo %>
     </p>

  
      
         <p style="word-wrap: break-word;"><%= lamport_note.author %> reported this <%= time_ago_in_words(lamport_note.created_at) %> ago ! </p>

        <p style="margin-right: 100px; margin-bottom: -30px;"><%= link_to edit_lamport_note_path(lamport_note) do %>
        <i class="fas fa-edit fa-2x" style="color: black;"></i>
        <% end %>
        </p>

        <p style="margin-bottom: 100px; "><%= link_to lamport_note do  %>
        <i class="fas fa-eye fa-2x" style="color: black;"></i>
        <% end %>
        </p>

        <p style="margin-left: 100px; margin-top: -130px;"><%= link_to lamport_note, method: :delete, data: { confirm: 'Are you sure?' }  do%>
          <i class="fas fa-trash fa-2x" style="color: black;"></i>
          <% end %>
        </p>
</div>
</div>
</div>
</p>
<% end %>
<% end %>
<br>
<br>
<br>
<div class="digg_pagination" align="center" style="margin-bottom: 100px;">
    <div class="page_info">
      <%= page_entries_info @lamport_notes_paginação %>
    </div>
        <%= will_paginate @lamport_notes_paginação  %>
</div>
</p>
</body>

</html>
