<br>
<br>
<br>  
<br>
<!DOCTYPE html>
<html lang="en">
<p id="notice"><%= notice %></p>
<head>
</head>
<body>
<%= stylesheet_link_tag "lamport_notes", :media => "all" %>
<br>
<br>

  <div class="jumbotron">
    <h1>Checks Your team Notes</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Send a email here ", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>

<% if user_signed_in? %>
<% @lamport_notes.each do |lamport_note| %>
<p align="left">
<div class="col-md-4">
<div id="alinhamento">
   <div id="margem" align="center">
     <p style="color: white; background-color: black; border-radius: 2px;">
     <%= lamport_note.titulo %>
     </p>
    <!--  <span class="glyphicon glyphicon-list-alt"></span>
     <div id="rectangle_form" align="center">
     <% lamport_note.texto %>
     </div>-->
  <tbody>
      <tr>
         <p> <%= lamport_note.author %> reported this <%= time_ago_in_words(lamport_note.created_at) %> ago ! </p>
        <td><%= link_to 'Edit', edit_lamport_note_path(lamport_note), class: "btn btn-default" %></td>
        <td><%= link_to 'Check', lamport_note , class: "btn btn-default" %></td>
        <td><%= link_to 'Delete', lamport_note, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
      </tr>
  </tbody>
</table>
</div>
</div>
</div>
</p>
<% end %>
<% end %>
<br>
<br>
<br>
<div class="digg_pagination" align="center" style="margin-bottom: 100px;">
    <div class="page_info">
      <%= page_entries_info @lamport_notes_paginação %>
    </div>
        <%= will_paginate @lamport_notes_paginação  %>
</div>
</p>
</body>

</html>
