<DOCTYPE html>
<html lang="en">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<link href="css/bootstap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head>
<h1 align="right"> Show <small>report business solution</small></h1>
<%= stylesheet_link_tag "lamport_notes", :media => "all" %>
</head>
<body>
 <div class="field"  style="color: black; border-radius: 4px; background-color: white; width: 700px;   position:absolute;  top:50%; left:26%; margin-left: -5px; border: solid black 2px; margin-top:-200px; box-shadow: 4px 9px " align="center">
<p id="notice"><%= notice %></p>

<div id="formulario">

<div id="new_page">
   <!---<strong>Titulo:</strong>-->
  <%= @lamport_note.titulo %>
</div>
<br>
<br>
<div id="new_page">
  <!---<strong>Texto:</strong>-->
  <%= @lamport_note.texto %>
</div>
<br>
</div>
</div>
  <p align="center" style=" width: 199px; border-radius: 1px; margin-top: 350px; margin-left: 610px; ">

  <%= link_to edit_lamport_note_path(@lamport_note) do %> 
  <i class="fas fa-edit fa-2x" style="color: black;"></i>
  <% end %>

  <%= link_to lamport_notes_path do  %>
  <i class="fas fa-undo-alt fa-2x" style="color: black; margin-left: 100px;"></i>
  <% end %>
  </p>
</body>
