<DOCTYPE html>
<html lang="en">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<link href="css/bootstap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<head>
<%= stylesheet_link_tag "lamport_notes", :media => "all" %>
</head>
<body>
<br>
<br>
<br>
<br>

<p id="notice"><%= notice %></p>

  <div id="lamport_show">
  
  <h1>
  <%= @lamport_note.titulo %>
  </h1>
<br>
<br>

  <p>
  <%= @lamport_note.texto %>
  <p>
    <div id="botao">
  <%= link_to "Back" , lamport_notes_path, :class => "btn btn-lg btn-primary"%>
 </div>
 </div>

</div>
</body>

