<%= stylesheet_link_tag "item_events", :media => "all" %>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<p><% item_event.content%></p>

<% if item_event.completed? %>
 <table style="width:90%; margin-left: 20px;  color: black; border: solid black 1px; box-shadow:  black 2px 7px; font-family: monospace; border-radius: 1px; border-spacing: 5px; text-align: center; word-wrap: break-word;" >
 <tr>
 <th>
<%= link_to completo_evento_item_event_path(@evento, item_event.id), method: :patch  do %>
	<i style="margin-right: 100%; opacity: 0.2; color: black;" class="fa fa-check fa-2x"></i>
<% end %>
</th>

<th>
<strike style="color: black; opacity: 0.4; font-size: 20px; margin-right: 400px; text-align: center; word-wrap: break-word;"><%= item_event.content%></strike>
</th>

<th>
<%= link_to evento_item_event_path(@evento, item_event.id), method: :delete, data: { confirm: "Are you sure ?"} do %>
	<i class="fa fa-trash fa-2x" style="margin-right: 16%; color: black;"></i>
	<% end %>	
</th>
</tr>

</table>

<% else %>

 <table style="width:90%; margin-left: 20px;   color: black; border: solid black 1px; box-shadow:  black 2px 7px; font-family: monospace; border-radius: 1px; border-spacing: 5px; text-align: center;" >
 <tr>
<tr>
<th>
<%= link_to completo_evento_item_event_path(@evento, item_event.id), method: :patch  do %>
	<i class="fa fa-check fa-2x " style="margin-right: 100%; color: black;"></i>
<% end %>
</th>

<th>
<center>
<i style="font-size: 20px; margin-right: 400px; text-align: center; word-wrap: break-word;"><%= item_event.content%></i>
</center>
</th>

<th>
<%= link_to evento_item_event_path(@evento, item_event.id), method: :delete, data: { confirm: "Are you sure ?"} do %>
	<i class="fa fa-trash fa-2x" style="margin-right: 16%; color: black;"></i>
<% end %>
</th>
</tr>
<% end %>
</table>
<br>