<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="field"  style="color: black; border-radius: 4px; background-color: lightgrey; width: 800px;   position:absolute;  top:50%; left:25%; margin-left: -100px; margin-top:-200px; border: solid white 6px;" align="center">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<p align="center"><%= image_tag("tumblr_n6iekuqY4N1qciftvo1_500.gif", :alt => "logo", :size => "100x100") %></p>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
<br>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  <% if devise_mapping.rememberable? -%>
   <br>      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
  <br>
  <% end %> 
    <%= f.submit "Log in" %>

<% end %>
<%= render "devise/shared/links" %>

  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
