<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="field"  style="color: black; background-color: white; width: 100%;  border: solid black 1px;  box-shadow: 2px 3px " align="center">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<p style="margin: 20px; padding: 3px; " align="center"><%= image_tag("happy_fox__with__svg__by_digitalcircuit-d51lm70.png", :alt => "logo", :size => "85x85") %></p>
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , :size => "65" , class: 'form-control', style: "text-align: center;"%>
<br>
<br>
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off" , :size => "65" , class: 'form-control', style: "text-align: center;" %>

  <% if devise_mapping.rememberable? -%>
   <br>      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
  <br>
  <br>
  <% end %>
    <%= f.submit "Log in ", class: "btn btn-primary"%>
<% end %>
<br>
<%= render "devise/shared/links" %>

  </div>
<br>
<br>
</div>
