<!DOCTYPE html>
<html lang="en">
<link href="css/bootstap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico|Press+Start+2P|Sacramento|Shadows+Into+Light|Shrikhand|Special+Elite" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet"> 
<head>

<title > Lamport</title>

<meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet"> 

 <%= stylesheet_link_tag  "bemvindos", :media => "all" %>
</head>
<body>
<br>
<br>
    <div class="image">
    <h1 style="color: black; font-size:80px; opacity: 0.9; font-family: 'Bungee Shade', cursive; color: #d62d20; margin-left: -839px;"> 
    <br>
   Lamport<br>
   <small>Report Businesss Solution </small>
   <p style="background-color: white; border-top: solid green;  border-radius: 2px; color: white; font-size: 20px; width: 150px; ">
   <% if !user_signed_in? %>
   <%= link_to "Please Sign in", user_session_path %></p> 
   <% else %>
  <%= link_to "    ", user_session_path %></p>
   <% end %>
   <br>
   </h1>
      <center>
   <p style="font-family: monospace; font-size: 12px; color: white; background-color: #3a1c44;  width: 1438px; height: 149px; margin-top: 19px; margin-left: -942px; box-shadow: 10px 7px; border-bottom: solid green 4px;">
 <!--  <br>
With Lamport you can stress talk  <br>
Take notes without distractions </br>
Check your calendar and activites
Focus on stabilty organization caos and security on your notes
default is system-dependent.  then value is evaluated as an arithmetic expression<br>
argument is ignored.  There are only a few basic constructs allowed i<br>-->
<br>
<br>

</p>
</center>
    </div>​
     <center>
</center>
<p style=" border-radius: 2px; color:  #e6e6e6; width: 330px; margin-top: -300px; margin-left: 50px; box-shadow: 5px 2px white; border: solid  white 1px;"></p>
<p align="center" style="margin-top: -320px; border-bottom: solid #e6e6e6 4px; box-shadow: 5px 7px  black;">
<%= image_tag("584c65e26e7d5809d2fa634d.png", :alt => "logo") %> 
</p>
 <!--- 
    <div class="wrapper">
 <small style="border: solid black 1px; box-shadow: 6px 3px; margin-left: 5px; font-family: 'Raleway', sans-serif;  font-size: 17px; background-color: white; color: black; " > 
What are we : (see PROMPTING below). Characters removed are replaced with an ellipsis.  Cause the
shell to exit with a status of n. If n is omitted, the exit status is If this variable
is not set, bash acts as if it had the value to complete is used. If a compspec has
been defined for that command, the compspec iss

than newline.  Non-incremental searches read the entire search string before starting
to search for signal names and their corresponding numbers. Each sigspec is either a
 </small>
<small style="border: solid black 2px; box-shadow: 2px 3px; background-color: #424242; color: white; ">
<%= image_tag("", :alt => "logo", :size => "500x200") %>
</small>
 <small style="border: solid black 1px; box-shadow: 6px 3px; margin-left: 5px; font-family: 'Raleway', sans-serif;  font-size: 17px; background-color: white; color: black; " >
What are we : (see PROMPTING below). Characters removed are replaced with an ellipsis.  Cause the
shell to exit with a status of n. If n is omitted, the exit status is If this variable
is not set, bash acts as if it had the value to complete is used. If a compspec has
been defined for that command, the compspec is

than newline.  Non-incremental searches read the entire search string before starting
to search for signal names and their corresponding numbers. Each sigspec is either a
is subscripted by a negative number, that number is interpreted as
uting
 </small>
<small style="border: solid black 2px; box-shadow: 12px 3px; background-color: black; color: white; background-color: #424242;">
<%= image_tag("", :alt => "logo", :size => "500x200") %>
</small>
 <small style="border: solid black 1px; box-shadow: 6px 3px; margin-left: 5px; font-family: 'Raleway', sans-serif;  font-size: 17px; background-color: white; color: black; " >
  Feedback : and the original text is restored. An argument of n moves n positions forward in The
options are off by default unless otherwise noted. Using + rather than - File descriptor
2 is duplicated.  job with a -. A single % (with no accompanying job specification)
also refers to the cur‐ 
of the command placed into the foreground, or failure if run when job control is bind ally exec
 </small>
<small style="border: solid black 2px; box-shadow: 12px 3px; background-color: #424242; color: white; ">
<%= image_tag("", :alt => "logo", :size => "500x200") %>
</small>

  </div>
  </p>
</div>
-->
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 <small style="border: solid black 1px; box-shadow: 6px 3px; margin-left: 5px; font-family: 'Raleway', sans-serif;  font-size: 17px; background-color: yellow; color: black; " >
Lamport get ready of stressfull task for you !!Focus on stabilty organization caos and security on your notes
default is system-dependent.  then value is evaluated as an arithmetic expression<br>
argument is ignored.  There are only a few basic constructs allowed
default is system-dependent.  then value is evaluated as an arithmetic expression<br>
argument is ignored.  There are only a few basic constructs allowed i<br>-->
 </small>
<br>
<br>
<br>
<br>
<br>
 <small style="border: solid black 1px; box-shadow: 6px 3px; margin-left: 5px; font-family: 'Raleway', sans-serif;  font-size: 17px; background-color: purple; color: black; " >
Focus on less stress and live well!!Focus on stabilty organization caos and security on your notes
default is system-dependent.  then value is evaluated as an arithmetic expression<br>
argument is ignored.  There are only a few basic constructs allowed

With Lamport you can stress talk  <br>
Take notes without distractions </br>
Check your calendar and activites
Focus on stabilty organization caos and security on your notes
 </small>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>  
<br>
<br>
<br>
<br>
<br>
<center>
<small style="margin-top: -900px;"><%= image_tag("1600.png", :alt => "logo", :size => "15x15") %> ruby-2.3.3 . copyright © 2018 lamport . all rights reserved . by heisler.lemos</small>
</center>
</html>
