<!DOCTYPE html>
<html>
  <head>
    <title>Lamport</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="shortcut icon" href="/home/heisler/Desktop/GIT/Lamport-Report-/public/happy_fox__with__svg__by_digitalcircuit-d51lm70.ico"/>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'happy_fox__with__svg__by_digitalcircuit-d51lm70 (copy).ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico|Press+Start+2P|Sacramento|Shadows+Into+Light|Shrikhand|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p style="margin-left: -103px; position: absolute;" align="right">

<%= link_to image_tag("happy_fox__with__svg__by_digitalcircuit-d51lm70.png", :alt => "logo", :size => "45x45"), root_path %></p> 

<% if current_page? lamport_notes_path %> 
    <%= form_tag(lamport_notes_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Notes", size:  "60" %>
      <%= submit_tag "search", class: "btn btn-info" %>
    <% end %>
<% elsif current_page? eventos_path %>
    <%= form_tag(eventos_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Events", size:  "60" %>
      <%= submit_tag "search", class: "btn btn-info" %>
    <% end %>
<% end %>

   <ul class="nav nav-tabs">
   <% a = 1 %>
   <% b = 2 %>
   <% if user_signed_in?  then %>
  <!--<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Welcome", root_path %></li>-->
  
      <div class="dropdown">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <li class="<%= 'active' if current_page?(eventos_path) %>"><%= link_to "Events Menu", eventos_path %></li>
      <li class="<%= 'active' if current_page?(lamport_notes_path) %>"><%= link_to "Note Menu", lamport_notes_path %></li>
  </div>
</div>
          <li class="<%= 'active' if current_page?(new_lamport_note_path) %>"><%= link_to "Billboard", twitterposts_path %></li>
            <li class="<%= 'active' if current_page?(calendarios_show_path) %>"><%= link_to "Calendar", 
  calendarios_show_path %></li>
       <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to "Settings", edit_user_registration_path %>
  <li class="<%= 'active' if current_page?( abouts_index_path) %>"><%= link_to "About", abouts_index_path %></li>
      <li class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to :Logout, destroy_user_session_path, :method => :delete  %></li>
      <li class="<%= 'active' if current_page?(pdfjs.full_path) %>"><%= link_to "Pdf", pdfjs.full_path(file: "/sample_ruby.pdf") %></li>

    <% else %>
  <!--<li class="<%= 'active' if current_page?(eventos_path) %>"><%= link_to "Events", eventos_path %></li>
  <li class="<%= 'active' if current_page?(new_evento_path) %>"><%= link_to "New Events", new_evento_path %></li>-->
  <!--<li class="<%= 'active' if current_page?( user_session_path) %>"><%= link_to "Sign In",  user_session_path %></li>-->
     <!-- <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Welcome", root_path %></li>-->
<% end %>

  </ul>
            <% flash.each do  |key, value |%>
               <div class='alert alert-<%= key %> alert-dismissible'><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= value  %> 
    </div>

    <% end %>
  </div>
</nav>
      <%= yield %>
      <div>

    

  </head>
  <body>
  


 
 </body>
</html>
