<!DOCTYPE html>
<html>
  <head>
    <title>Lamport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico|Press+Start+2P|Sacramento|Shadows+Into+Light|Shrikhand|Special+Elite" rel="stylesheet">
    <link href="css/bootstap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p align="right"><%= image_tag("tumblr_n6iekuqY4N1qciftvo1_500.gif", :alt => "logo", :size => "40x40") %></p>
    <%= form_tag(lamport_notes_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Procura o seu relatorio" %>
  <%= submit_tag "Search" %>
  <% end %>
   <ul class="nav nav-tabs">
  <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Bem Vindo", root_path %></li>
  <li class="<%= 'active' if current_page?(lamport_notes_path) %>"><%= link_to "Notas Menu", lamport_notes_path %></li>
  <li class="<%= 'active' if current_page?(new_lamport_note_path) %>"><%= link_to "Notas Novo", new_lamport_note_path %></li>
  <li class="<%= 'active' if current_page?(calendarios_show_path) %>"><%= link_to "Calendario", calendarios_show_path %></li>
  <li class="<%= 'active' if current_page?(eventos_path) %>"><%= link_to "Eventos Menu", eventos_path %></li>
  <li class="<%= 'active' if current_page?(new_evento_path) %>"><%= link_to "Eventos Novo", new_evento_path %></li>
  <li class="<%= 'active' if current_page?( user_session_path) %>"><%= link_to "Sign In",  user_session_path %></li>
  </ul>
  </div>
</nav>

  </head>

  <body>
      <%= yield %>
             <p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
      <small>
      ruby 2.3.3
      </small>
 </body>
</html>
